*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.buttons{
    border: none;
    outline: none;
    background-color: violet;
    padding: 6px 10px;
    border-radius: 10px;
    margin: 5px 0px;
    cursor: pointer;
    font-weight: bolder;

    &:hover{
        background-color: blueviolet;
        color: white;
    }
}

.links{
    text-decoration: none;
    color: black;
}

//common
@import 'login';
@import 'topnavbar';
@import 'sidebar';

//admin/dashboard
@import 'dashboard';
@import "orderlist";
@import "orderHistory";
@import "manageQRCode";

//admin/chef

//admin/addmenu
@import 'addmenu';
@import 'card';
@import 'addNewItemModal';


//user mode
@import "menuFirstPage";
@import "foodmenu";
@import "itemDetailInfo";
@import "cart";
@import "yourOrder";


//owner/founder/service provider
@import "ownerLogin";
@import "ownerControl";